flask
flask-cors
numpy
scipy
pandas
dask
openpyxl
pyodbc
sqlalchemy
matplotlib
seaborn
plotly
missingno
altair
bokeh
scikit-learn
xgboost
lightgbm
catboost
tensorflow
keras
torch
imbalanced-learn
pyspark
prophet
spacy
nltk
gensim
transformers
requests
tqdm
